<div class="boletines-container">
  <app-headerlogin rootClassName="headerlogin-root-class-name"></app-headerlogin>
  <app-datosboletin rootClassName="datosboletin-root-class-name" [alumnoObj]="alumno"
    [cursoEscolar]="cursoEscolar"></app-datosboletin>
  <div class="boletines-container01">
    <div class="boletines-container02">
      <div class="boletines-container03"><span>1º trimestre</span></div>
      <div class="boletines-container04"><span>2º trimestre</span></div>
      <div class="boletines-container05"><span>3º trimestre</span></div>
    </div>
    <div class="boletines-container06">
      <div class="boletines-container07">
        <div class="boletines-container08">
          <span></span>
        </div>
        <div class="boletines-container09">{{notaP}}</div>
        <div class="boletines-container10"></div>
        <div class="boletines-container11"></div>
      </div>
      <div  class="boletines-container07">
        <div class="boletines-container08">
          <span></span>
        </div>
        <div class="boletines-container09">{{notaP}}</div>
        <div class="boletines-container10"></div>
        <div class="boletines-container11"></div>
      </div>
    </div>
  </div>
</div>