<div class="prueba-container">
  <div class="prueba-notificaciones">
    <div class="prueba-container001">
      <div class="prueba-container002">
        <input type="checkbox" checked="true" class="prueba-checkbox" />
      </div>
      <div class="prueba-container003">
        <span class="prueba-text">Pedro Pérez</span>
      </div>
      <div class="prueba-container004">
        <span class="prueba-text001">08/12/2023</span>
      </div>
      <div class="prueba-container005">
        <span class="prueba-text002">
          Buenos días, por favor tener preparadas las 20...
        </span>
      </div>
    </div>
    <div class="prueba-container006">
      <div class="prueba-container007">
        <input type="checkbox" checked="true" class="prueba-checkbox1" />
      </div>
      <div class="prueba-container008">
        <span class="prueba-text003">Pedro Pérez</span>
      </div>
      <div class="prueba-container009">
        <span class="prueba-text004">08/12/2023</span>
      </div>
      <div class="prueba-container010">
        <span class="prueba-text005">
          Buenos días, por favor tener preparadas las 20...
        </span>
      </div>
    </div>
    <div class="prueba-container011">
      <div class="prueba-container012">
        <input type="checkbox" checked="true" class="prueba-checkbox2" />
      </div>
      <div class="prueba-container013">
        <span class="prueba-text006">Pedro Pérez</span>
      </div>
      <div class="prueba-container014">
        <span class="prueba-text007">08/12/2023</span>
      </div>
      <div class="prueba-container015">
        <span class="prueba-text008">
          Buenos días, por favor tener preparadas las 20...
        </span>
      </div>
    </div>
    <div class="prueba-container016">
      <div class="prueba-container017">
        <input type="checkbox" checked="true" class="prueba-checkbox3" />
      </div>
      <div class="prueba-container018">
        <span class="prueba-text009">Pedro Pérez</span>
      </div>
      <div class="prueba-container019">
        <span class="prueba-text010">08/12/2023</span>
      </div>
      <div class="prueba-container020">
        <span class="prueba-text011">
          Buenos días, por favor tener preparadas las 20...
        </span>
      </div>
    </div>
    <div class="prueba-container021">
      <div class="prueba-container022">
        <input type="checkbox" checked="true" class="prueba-checkbox4" />
      </div>
      <div class="prueba-container023">
        <span class="prueba-text012">Pedro Pérez</span>
      </div>
      <div class="prueba-container024">
        <span class="prueba-text013">08/12/2023</span>
      </div>
      <div class="prueba-container025">
        <span class="prueba-text014">
          Buenos días, por favor tener preparadas las 20...
        </span>
      </div>
    </div>
    <div class="prueba-container026">
      <div class="prueba-container027">
        <input type="checkbox" checked="true" class="prueba-checkbox5" />
      </div>
      <div class="prueba-container028">
        <span class="prueba-text015">Pedro Pérez</span>
      </div>
      <div class="prueba-container029">
        <span class="prueba-text016">08/12/2023</span>
      </div>
      <div class="prueba-container030">
        <span class="prueba-text017">
          Buenos días, por favor tener preparadas las 20...
        </span>
      </div>
    </div>
    <div class="prueba-container031">
      <div class="prueba-container032">
        <input type="checkbox" checked="true" class="prueba-checkbox6" />
      </div>
      <div class="prueba-container033">
        <span class="prueba-text018">Pedro Pérez</span>
      </div>
      <div class="prueba-container034">
        <span class="prueba-text019">08/12/2023</span>
      </div>
      <div class="prueba-container035">
        <span class="prueba-text020">
          Buenos días, por favor tener preparadas las 20...
        </span>
      </div>
    </div>
  </div>
  <div class="prueba-identificacion">
    <h1 class="prueba-heading">Servicio de identificación</h1>
    <span class="prueba-text021">Introduce tu dni (sin letra)</span>
    <input
      type="text"
      required
      minlenght="8"
      placeholder="12345678"
      class="prueba-textinput input"
    />
    <span class="prueba-text022">Introduce tu contraseña</span>
    <input
      type="password"
      required
      maxlength="10"
      minlength="6"
      placeholder="********"
      class="prueba-textinput1 input"
    />
    <a routerLink="/mainalumno" class="prueba-navlink button">Iniciar Sesión</a>
  </div>
  <div class="prueba-menualupadre">
    <div class="prueba-container036">
      <div class="prueba-container037">
        <div class="prueba-container038">
          <span class="prueba-text023">Notificaciones:</span>
          <span class="prueba-text024">-Mensajes recibidos</span>
          <span class="prueba-text025">-Mensajes enviados</span>
          <span class="prueba-text026">-Nuevo mensaje</span>
        </div>
        <div class="prueba-container039">
          <span class="prueba-text027">Horario:</span>
          <span class="prueba-text028">-Ver horario semanal</span>
        </div>
      </div>
      <div class="prueba-container040">
        <div class="prueba-container041">
          <span class="prueba-text029">Boletines de notas:</span>
          <span class="prueba-text030">-2019/2020</span>
          <span class="prueba-text031">-2020/2021</span>
          <span class="prueba-text032">-2021/2022</span>
        </div>
        <div class="prueba-container042">
          <span class="prueba-text033">Recordatorios:</span>
          <span class="prueba-text034">-Ver lista de recordatorios</span>
        </div>
      </div>
      <div class="prueba-container043">
        <div class="prueba-container044">
          <span class="prueba-text035">Tutorías:</span>
          <span class="prueba-text036">-Registro de tutorías</span>
          <span class="prueba-text037">-Solicitar tutoría</span>
        </div>
        <div class="prueba-container045">
          <span class="prueba-text038">Incidencias:</span>
          <span class="prueba-text039">-Ver incidencias del curso</span>
        </div>
      </div>
    </div>
  </div>
  <div class="prueba-tarjeta-usuario">
    <img
      alt="image"
      src="/assets/icono_profesora-200h.png"
      class="prueba-image"
    />
    <div class="prueba-container046">
      <div class="prueba-container047">
        <span class="prueba-text040">Estefanía Morales</span>
      </div>
      <div class="prueba-container048">
        <span class="prueba-text041">Lengua Castellana</span>
      </div>
    </div>
  </div>
  <div class="prueba-chat">
    <div class="prueba-container049">
      <img
        alt="image"
        src="/assets/icono_profesora-200h.png"
        class="prueba-image1"
      />
      <div class="prueba-container050">
        <div class="prueba-container051">
          <span class="prueba-text042">
            <span class="prueba-text043">
              Estefanía
              <span [innerHTML]="rawiycb"></span>
            </span>
            <span class="prueba-text044">
              Morales
              <span [innerHTML]="raw2n1f"></span>
            </span>
            <span class="prueba-text045">de la Hoz</span>
          </span>
        </div>
        <div class="prueba-container052">
          <span class="prueba-text046">Lengua Castellana y Literatura</span>
        </div>
      </div>
    </div>
    <div class="prueba-container053">
      <div class="prueba-container054">
        <span class="prueba-text047">
          Hola buenas, era para ver si podíamos tener una tutoría para revisar
          el último examen.
        </span>
      </div>
      <div class="prueba-container055">
        <span class="prueba-text048">
          Buenos días, estoy disponible martes a las 11 y viernes a la hora del
          recreo. Si no ya sería para la semana siguiente
        </span>
      </div>
      <div class="prueba-container056">
        <span class="prueba-text049">
          El viernes a la hora del recreo me viene bien. Gracias
        </span>
      </div>
      <div class="prueba-container057">
        <span class="prueba-text050">¿Sería en el departamento?</span>
      </div>
      <div class="prueba-container058">
        <span class="prueba-text051">Sí, nos vemos el viernes!</span>
      </div>
    </div>
    <div class="prueba-container059">
      <input
        type="text"
        placeholder="Mensaje"
        class="prueba-textinput2 input"
      />
    </div>
  </div>
  <div class="prueba-anuncio">
    <div class="prueba-container060">
      <div class="prueba-container061">
        <span>Estefanía Morales de la Hoz:</span>
      </div>
      <div class="prueba-container062">
        <span>Recordatorio de examen el próximo 20 de enero. </span>
      </div>
      <div class="prueba-container063">
        <span>Lengua castellana y literatura</span>
      </div>
      <div class="prueba-container064">
        <button type="button" class="prueba-button button">
          Añadir a recordatorios
        </button>
      </div>
    </div>
  </div>
  <div class="prueba-recordatorio">
    <div class="prueba-container065">
      <div class="prueba-container066">
        <span>Examen de Lengua el día 20 de enero</span>
      </div>
      <div class="prueba-container067">
        <button type="button" class="prueba-button1 button">Eliminar</button>
      </div>
    </div>
  </div>
  <div class="prueba-horario">
    <div class="prueba-container068">
      <div class="prueba-container069">
        <svg viewBox="0 0 1024 1024" class="prueba-icon">
          <path d="M86 896v-298l640-86-640-86v-298l896 384z"></path>
        </svg>
        <div class="prueba-container070">
          <span class="prueba-text056">Horario</span>
        </div>
        <svg viewBox="0 0 1024 1024" class="prueba-icon02">
          <path d="M86 896v-298l640-86-640-86v-298l896 384z"></path>
        </svg>
      </div>
    </div>
    <div class="prueba-container071">
      <div class="prueba-container072">
        <div class="prueba-container073"></div>
        <div class="prueba-container074"><span>Lunes</span></div>
        <div class="prueba-container075"><span>Martes</span></div>
        <div class="prueba-container076"><span>Miércoles</span></div>
        <div class="prueba-container077"><span>Jueves</span></div>
        <div class="prueba-container078"><span>Viernes</span></div>
      </div>
      <div class="prueba-container079">
        <div class="prueba-container080"><span>07:55-08:50</span></div>
        <div class="prueba-container081">
          <span class="prueba-text063">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container082">
          <span class="prueba-text064">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container083">
          <span class="prueba-text065">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container084">
          <span class="prueba-text066">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container085">
          <span class="prueba-text067">Lengua Castellana y Literatura</span>
        </div>
      </div>
      <div class="prueba-container086">
        <div class="prueba-container087"><span>08:50-09:45</span></div>
        <div class="prueba-container088">
          <span class="prueba-text069">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container089">
          <span class="prueba-text070">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container090">
          <span class="prueba-text071">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container091">
          <span class="prueba-text072">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container092">
          <span class="prueba-text073">Lengua Castellana y Literatura</span>
        </div>
      </div>
      <div class="prueba-container093">
        <div class="prueba-container094"><span>09:45-10:40</span></div>
        <div class="prueba-container095">
          <span class="prueba-text075">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container096">
          <span class="prueba-text076">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container097">
          <span class="prueba-text077">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container098">
          <span class="prueba-text078">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container099">
          <span class="prueba-text079">Lengua Castellana y Literatura</span>
        </div>
      </div>
      <div class="prueba-container100">
        <div class="prueba-container101"><span>10:40-11:10</span></div>
        <div class="prueba-container102">
          <span class="prueba-text081">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container103">
          <span class="prueba-text082">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container104">
          <span class="prueba-text083">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container105">
          <span class="prueba-text084">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container106">
          <span class="prueba-text085">Lengua Castellana y Literatura</span>
        </div>
      </div>
      <div class="prueba-container107">
        <div class="prueba-container108"><span>11:10-12:05</span></div>
        <div class="prueba-container109">
          <span class="prueba-text087">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container110">
          <span class="prueba-text088">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container111">
          <span class="prueba-text089">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container112">
          <span class="prueba-text090">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container113">
          <span class="prueba-text091">Lengua Castellana y Literatura</span>
        </div>
      </div>
      <div class="prueba-container114">
        <div class="prueba-container115"><span>12:05-13:00</span></div>
        <div class="prueba-container116">
          <span class="prueba-text093">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container117">
          <span class="prueba-text094">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container118">
          <span class="prueba-text095">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container119">
          <span class="prueba-text096">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container120">
          <span class="prueba-text097">Lengua Castellana y Literatura</span>
        </div>
      </div>
      <div class="prueba-container121">
        <div class="prueba-container122"><span>13:00-13:55</span></div>
        <div class="prueba-container123">
          <span class="prueba-text099">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container124">
          <span class="prueba-text100">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container125">
          <span class="prueba-text101">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container126">
          <span class="prueba-text102">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container127">
          <span class="prueba-text103">Lengua Castellana y Literatura</span>
        </div>
      </div>
    </div>
  </div>
  <div class="prueba-container128">
    <div class="prueba-container129">
      <div class="prueba-container130">
        <div class="prueba-container131">
          <span class="prueba-text104">1º Trimestre</span>
        </div>
        <div class="prueba-container132">
          <span class="prueba-text105">2º Trimestre</span>
        </div>
        <div class="prueba-container133">
          <span class="prueba-text106">Final</span>
        </div>
      </div>
      <div class="prueba-container134">
        <div class="prueba-container135">
          <span class="prueba-text107">Lengua Castellana y Literatura </span>
        </div>
        <div class="prueba-container136">
          <span class="prueba-text108">9</span>
        </div>
        <div class="prueba-container137">
          <span class="prueba-text109">8</span>
        </div>
        <div class="prueba-container138">
          <span class="prueba-text110">9</span>
        </div>
      </div>
      <div class="prueba-container139">
        <div class="prueba-container140">
          <span class="prueba-text111">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container141">
          <span class="prueba-text112">9</span>
        </div>
        <div class="prueba-container142">
          <span class="prueba-text113">8</span>
        </div>
        <div class="prueba-container143">
          <span class="prueba-text114">9</span>
        </div>
      </div>
      <div class="prueba-container144">
        <div class="prueba-container145">
          <span class="prueba-text115">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container146">
          <span class="prueba-text116">9</span>
        </div>
        <div class="prueba-container147">
          <span class="prueba-text117">8</span>
        </div>
        <div class="prueba-container148">
          <span class="prueba-text118">9</span>
        </div>
      </div>
      <div class="prueba-container149">
        <div class="prueba-container150">
          <span class="prueba-text119">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container151">
          <span class="prueba-text120">9</span>
        </div>
        <div class="prueba-container152">
          <span class="prueba-text121">8</span>
        </div>
        <div class="prueba-container153">
          <span class="prueba-text122">9</span>
        </div>
      </div>
      <div class="prueba-container154">
        <div class="prueba-container155">
          <span class="prueba-text123">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container156">
          <span class="prueba-text124">9</span>
        </div>
        <div class="prueba-container157">
          <span class="prueba-text125">8</span>
        </div>
        <div class="prueba-container158">
          <span class="prueba-text126">9</span>
        </div>
      </div>
      <div class="prueba-container159">
        <div class="prueba-container160">
          <span class="prueba-text127">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container161">
          <span class="prueba-text128">9</span>
        </div>
        <div class="prueba-container162">
          <span class="prueba-text129">8</span>
        </div>
        <div class="prueba-container163">
          <span class="prueba-text130">9</span>
        </div>
      </div>
      <div class="prueba-container164">
        <div class="prueba-container165">
          <span class="prueba-text131">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container166">
          <span class="prueba-text132">9</span>
        </div>
        <div class="prueba-container167">
          <span class="prueba-text133">8</span>
        </div>
        <div class="prueba-container168">
          <span class="prueba-text134">9</span>
        </div>
      </div>
      <div class="prueba-container169">
        <div class="prueba-container170">
          <span class="prueba-text135">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container171">
          <span class="prueba-text136">9</span>
        </div>
        <div class="prueba-container172">
          <span class="prueba-text137">8</span>
        </div>
        <div class="prueba-container173">
          <span class="prueba-text138">9</span>
        </div>
      </div>
      <div class="prueba-container174">
        <div class="prueba-container175">
          <span class="prueba-text139">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container176">
          <span class="prueba-text140">9</span>
        </div>
        <div class="prueba-container177">
          <span class="prueba-text141">8</span>
        </div>
        <div class="prueba-container178">
          <span class="prueba-text142">9</span>
        </div>
      </div>
      <div class="prueba-container179">
        <div class="prueba-container180">
          <span class="prueba-text143">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container181">
          <span class="prueba-text144">9</span>
        </div>
        <div class="prueba-container182">
          <span class="prueba-text145">8</span>
        </div>
        <div class="prueba-container183">
          <span class="prueba-text146">9</span>
        </div>
      </div>
      <div class="prueba-container184">
        <div class="prueba-container185">
          <span class="prueba-text147">Lengua Castellana y Literatura</span>
        </div>
        <div class="prueba-container186">
          <span class="prueba-text148">9</span>
        </div>
        <div class="prueba-container187">
          <span class="prueba-text149">8</span>
        </div>
        <div class="prueba-container188">
          <span class="prueba-text150">9</span>
        </div>
      </div>
    </div>
  </div>
  <div class="prueba-container189">
    <div class="prueba-container190">
      <span class="prueba-text151">Leticia Esther Santana Robaina</span>
    </div>
    <div class="prueba-container191">
      <svg viewBox="0 0 804.5714285714286 1024" class="prueba-icon04">
        <path
          d="M741.714 755.429c0 14.286-5.714 28.571-16 38.857l-77.714 77.714c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-168-168-168 168c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-77.714-77.714c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l168-168-168-168c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l77.714-77.714c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l168 168 168-168c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l77.714 77.714c10.286 10.286 16 24.571 16 38.857s-5.714 28.571-16 38.857l-168 168 168 168c10.286 10.286 16 24.571 16 38.857z"
        ></path>
      </svg>
      <a routerLink="/chat" class="prueba-navlink1">
        <svg viewBox="0 0 1024 1024" class="prueba-icon06">
          <path
            d="M768 342v-86h-512v86h512zM598 598v-86h-342v86h342zM256 384v86h512v-86h-512zM854 86q34 0 59 25t25 59v512q0 34-25 60t-59 26h-598l-170 170v-768q0-34 25-59t59-25h684z"
          ></path>
        </svg>
      </a>
      <a routerLink="/chat" class="prueba-navlink2">
        <svg viewBox="0 0 1024 1024" class="prueba-icon08">
          <path
            d="M384 554q64 0 140 18t139 60 63 94v128h-684v-128q0-52 63-94t139-60 140-18zM640 512q-26 0-56-10 56-66 56-160 0-38-16-86t-40-76q30-10 56-10 70 0 120 51t50 121-50 120-120 50zM214 342q0-70 50-121t120-51 120 51 50 121-50 120-120 50-120-50-50-120zM712 560q106 16 188 59t82 107v128h-172v-128q0-98-98-166z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</div>
