<div class="confighorario-container">
  <app-headerlogin
    rootClassName="headerlogin-root-class-name15"
  ></app-headerlogin>
  <div class="confighorario-container01">
    <span class="confighorario-text">Seleccionar curso y grupo:</span>
  </div>
  <div class="confighorario-container02">
    <div class="confighorario-container03">
      <div class="confighorario-container04">
        <a routerLink="/plantillahorario" class="confighorario-navlink">1ºA</a>
      </div>
      <div class="confighorario-container05">
        <span class="confighorario-text01">1ºB</span>
      </div>
      <div class="confighorario-container06">
        <span class="confighorario-text02">1ºC</span>
      </div>
      <div class="confighorario-container07">
        <span class="confighorario-text03">1ºD</span>
      </div>
    </div>
    <div class="confighorario-container08">
      <div class="confighorario-container09">
        <span class="confighorario-text04">2ºA</span>
      </div>
      <div class="confighorario-container10">
        <span class="confighorario-text05">2ºB</span>
      </div>
      <div class="confighorario-container11">
        <span class="confighorario-text06">2ºC</span>
      </div>
      <div class="confighorario-container12">
        <span class="confighorario-text07">2ºD</span>
      </div>
    </div>
    <div class="confighorario-container13">
      <div class="confighorario-container14">
        <span class="confighorario-text08">3ºA</span>
      </div>
      <div class="confighorario-container15">
        <span class="confighorario-text09">3ºB</span>
      </div>
      <div class="confighorario-container16">
        <span class="confighorario-text10">3ºC</span>
      </div>
    </div>
    <div class="confighorario-container17">
      <div class="confighorario-container18">
        <span class="confighorario-text11">4ºA</span>
      </div>
      <div class="confighorario-container19">
        <span class="confighorario-text12">4ºB</span>
      </div>
      <div class="confighorario-container20">
        <span class="confighorario-text13">4ºC</span>
      </div>
    </div>
  </div>
</div>
