:host { 
  display: contents; 
}
.recordatorios-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-success-background);
}
.recordatorios-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: var(--dl-color-success-header);
}
.recordatorios-text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-family: "PT Sans";
  font-weight: 700;
  letter-spacing: 1px;
}
.recordatorios-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 500px;
  display: flex;
  overflow-y: auto;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.recordatorios-container3 {
  flex: 0 0 auto;
  width: 732px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.recordatorios-navlink {
  text-decoration: none;
}
