<div class="bandejanotificaciones-container" [ngClass]="rootClassName">
  <div class="bandejanotificaciones-container01">
    <div class="bandejanotificaciones-container02">
      <input
        type="checkbox"
        checked="true"
        class="bandejanotificaciones-checkbox"
      />
    </div>
    <div class="bandejanotificaciones-container03">
      <span class="bandejanotificaciones-text">{{ text }}</span>
    </div>
    <div class="bandejanotificaciones-container04">
      <span class="bandejanotificaciones-text01">{{ text1 }}</span>
    </div>
    <div class="bandejanotificaciones-container05">
      <span class="bandejanotificaciones-text02">{{ text2 }}</span>
    </div>
  </div>
  <div class="bandejanotificaciones-container06">
    <div class="bandejanotificaciones-container07">
      <input
        type="checkbox"
        checked="true"
        class="bandejanotificaciones-checkbox1"
      />
    </div>
    <div class="bandejanotificaciones-container08">
      <span class="bandejanotificaciones-text03">{{ text3 }}</span>
    </div>
    <div class="bandejanotificaciones-container09">
      <span class="bandejanotificaciones-text04">{{ text4 }}</span>
    </div>
    <div class="bandejanotificaciones-container10">
      <span class="bandejanotificaciones-text05">{{ text5 }}</span>
    </div>
  </div>
  <div class="bandejanotificaciones-container11">
    <div class="bandejanotificaciones-container12">
      <input
        type="checkbox"
        checked="true"
        class="bandejanotificaciones-checkbox2"
      />
    </div>
    <div class="bandejanotificaciones-container13">
      <span class="bandejanotificaciones-text06">{{ text6 }}</span>
    </div>
    <div class="bandejanotificaciones-container14">
      <span class="bandejanotificaciones-text07">{{ text7 }}</span>
    </div>
    <div class="bandejanotificaciones-container15">
      <span class="bandejanotificaciones-text08">{{ text8 }}</span>
    </div>
  </div>
  <div class="bandejanotificaciones-container16">
    <div class="bandejanotificaciones-container17">
      <input
        type="checkbox"
        checked="true"
        class="bandejanotificaciones-checkbox3"
      />
    </div>
    <div class="bandejanotificaciones-container18">
      <span class="bandejanotificaciones-text09">{{ text9 }}</span>
    </div>
    <div class="bandejanotificaciones-container19">
      <span class="bandejanotificaciones-text10">{{ text10 }}</span>
    </div>
    <div class="bandejanotificaciones-container20">
      <span class="bandejanotificaciones-text11">{{ text11 }}</span>
    </div>
  </div>
  <div class="bandejanotificaciones-container21">
    <div class="bandejanotificaciones-container22">
      <input
        type="checkbox"
        checked="true"
        class="bandejanotificaciones-checkbox4"
      />
    </div>
    <div class="bandejanotificaciones-container23">
      <span class="bandejanotificaciones-text12">{{ text12 }}</span>
    </div>
    <div class="bandejanotificaciones-container24">
      <span class="bandejanotificaciones-text13">{{ text13 }}</span>
    </div>
    <div class="bandejanotificaciones-container25">
      <span class="bandejanotificaciones-text14">{{ text14 }}</span>
    </div>
  </div>
  <div class="bandejanotificaciones-container26">
    <div class="bandejanotificaciones-container27">
      <input
        type="checkbox"
        checked="true"
        class="bandejanotificaciones-checkbox5"
      />
    </div>
    <div class="bandejanotificaciones-container28">
      <span class="bandejanotificaciones-text15">{{ text15 }}</span>
    </div>
    <div class="bandejanotificaciones-container29">
      <span class="bandejanotificaciones-text16">{{ text16 }}</span>
    </div>
    <div class="bandejanotificaciones-container30">
      <span class="bandejanotificaciones-text17">{{ text17 }}</span>
    </div>
  </div>
  <div class="bandejanotificaciones-container31">
    <div class="bandejanotificaciones-container32">
      <input
        type="checkbox"
        checked="true"
        class="bandejanotificaciones-checkbox6"
      />
    </div>
    <div class="bandejanotificaciones-container33">
      <span class="bandejanotificaciones-text18">{{ text18 }}</span>
    </div>
    <div class="bandejanotificaciones-container34">
      <span class="bandejanotificaciones-text19">{{ text19 }}</span>
    </div>
    <div class="bandejanotificaciones-container35">
      <span class="bandejanotificaciones-text20">{{ text20 }}</span>
    </div>
  </div>
</div>
