<div class="datosboletin-container" [ngClass]="rootClassName">
  <div class="datosboletin-container01">
    <div class="datosboletin-container02">
      <div class="datosboletin-container03">
        <span class="datosboletin-text">{{ text }}</span>
      </div>
      <div class="datosboletin-container04">
        <span class="datosboletin-text01">{{ text1 }}</span>
      </div>
      <div class="datosboletin-container05">
        <span class="datosboletin-text02">{{ text2 }}</span>
      </div>
      <div class="datosboletin-container06">
        <span class="datosboletin-text03">{{ text3 }}</span>
      </div>
      <div class="datosboletin-container07">
        <span class="datosboletin-text04">{{ text4 }}</span>
      </div>
    </div>
    <div class="datosboletin-container08">
      <div class="datosboletin-container09">
        <span class="datosboletin-text05">{{ text5 }}</span>
      </div>
      <div class="datosboletin-container10">
        <span class="datosboletin-text06">{{ text6 }}</span>
      </div>
    </div>
    <div class="datosboletin-container11">
      <div class="datosboletin-container12">
        <span class="datosboletin-text07">{{ text7 }}</span>
      </div>
      <div class="datosboletin-container13">
        <span class="datosboletin-text08">{{ text8 }}</span>
      </div>
    </div>
    <div class="datosboletin-container14">
      <div class="datosboletin-container15">
        <span class="datosboletin-text09">{{ text9 }}</span>
      </div>
      <div class="datosboletin-container16">
        <span class="datosboletin-text10">{{ text10 }}</span>
      </div>
      <div class="datosboletin-container17">
        <span class="datosboletin-text11">{{ text11 }}</span>
      </div>
    </div>
  </div>
</div>
