<div class="page-container">
  <div class="page-container01">
    <div class="page-container02">
      <app-usuariochat
        rootClassName="usuariochat-root-class-name6"
      ></app-usuariochat>
      <app-usuariochat
        rootClassName="usuariochat-root-class-name7"
      ></app-usuariochat>
      <app-usuariochat
        rootClassName="usuariochat-root-class-name8"
      ></app-usuariochat>
      <app-usuariochat
        rootClassName="usuariochat-root-class-name9"
      ></app-usuariochat>
      <app-usuariochat
        rootClassName="usuariochat-root-class-name10"
      ></app-usuariochat>
      <app-usuariochat
        rootClassName="usuariochat-root-class-name11"
      ></app-usuariochat>
    </div>
    <div class="page-container03">
      <div class="page-container04">
        <img
          alt="image"
          src="/assets/icono_profesora-200h.png"
          class="page-image"
        />
        <div class="page-container05">
          <div class="page-container06">
            <span class="page-text">
              <span class="page-text01">
                Estefanía
                <span [innerHTML]="rawu79l"></span>
              </span>
              <span class="page-text02">
                Morales
                <span [innerHTML]="raw143n"></span>
              </span>
              <span class="page-text03">de la Hoz</span>
            </span>
          </div>
          <div class="page-container07">
            <span class="page-text04">Lengua Castellana y Literatura</span>
          </div>
        </div>
      </div>
      <div class="page-container08">
        <div class="page-container09">
          <span class="page-text05">
            Hola buenas, era para ver si podíamos tener una tutoría para revisar
            el último examen.
          </span>
        </div>
        <div class="page-container10">
          <span class="page-text06">
            Buenos días, estoy disponible martes a las 11 y viernes a la hora
            del recreo. Si no ya sería para la semana siguiente
          </span>
        </div>
        <div class="page-container11">
          <span class="page-text07">
            El viernes a la hora del recreo me viene bien. Gracias
          </span>
        </div>
        <div class="page-container12">
          <span class="page-text08">¿Sería en el departamento?</span>
        </div>
        <div class="page-container13">
          <span class="page-text09">Sí, nos vemos el viernes!</span>
        </div>
      </div>
      <div class="page-container14">
        <input type="text" placeholder="Mensaje" class="page-textinput input" />
      </div>
    </div>
  </div>
</div>
