:host { 
  display: contents; 
}
.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-container01 {
  width: auto;
  height: 831px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 4px;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.page-container02 {
  flex: 0 0 auto;
  width: 539px;
  height: 100%;
  display: flex;
  overflow-y: auto;
  align-items: center;
  margin-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #bffd8f;
}
.page-container03 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  background-color: #a4edc0;
}
.page-container04 {
  flex: intial;
  width: 100%;
  height: 127px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: flex-start;
  background-color: var(--dl-color-success-header);
}
.page-image {
  flex: 0;
  width: 90px;
  height: 90px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  margin-left: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-unit);
}
.page-container05 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.page-container06 {
  flex: 1;
  width: auto;
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.page-text {
  color: #ffffff;
  font-size: 30px;
  font-style: normal;
  font-family: "PT Sans";
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
}
.page-container07 {
  flex: 1;
  width: auto;
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.page-text04 {
  color: #ffffff;
  font-size: 30px;
  font-style: normal;
  font-family: "PT Sans";
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
}
.page-container08 {
  flex: 1;
  width: 928px;
  height: 100%;
  display: flex;
  align-self: stretch;
  overflow-y: scroll;
  align-items: stretch;
  flex-direction: column;
}
.page-container09 {
  flex: 0 0 auto;
  width: 468px;
  height: auto;
  display: flex;
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 5px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: 10px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 0px;
  padding-right: 10px;
  padding-bottom: 5px;
  justify-content: flex-end;
  background-color: var(--dl-color-success-header);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.page-text05 {
  color: #ffffff;
  height: 100%;
  font-style: normal;
  font-family: "PT Sans";
  font-weight: 500;
  line-height: 1.2;
}
.page-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 5px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: 10px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 10px;
  padding-bottom: 5px;
  justify-content: flex-start;
  background-color: var(--dl-color-success-header);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.page-text06 {
  color: #ffffff;
  width: auto;
  height: auto;
  align-self: flex-start;
  font-style: normal;
  font-family: "PT Sans";
  font-weight: 500;
  line-height: 1.2;
  background-color: var(--dl-color-success-header);
}
.page-container11 {
  flex: 0 0 auto;
  width: 574px;
  height: auto;
  display: flex;
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 5px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: 10px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 0px;
  padding-right: 10px;
  padding-bottom: 5px;
  justify-content: flex-end;
  background-color: var(--dl-color-success-header);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.page-text07 {
  color: #ffffff;
  font-style: normal;
  font-family: "PT Sans";
  font-weight: 500;
  line-height: 1.2;
}
.page-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 5px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: 10px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 0px;
  padding-right: 10px;
  padding-bottom: 5px;
  justify-content: flex-end;
  background-color: var(--dl-color-success-header);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.page-text08 {
  color: #ffffff;
  font-style: normal;
  font-family: "PT Sans";
  font-weight: 500;
  line-height: 1.2;
}
.page-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 5px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: 10px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 10px;
  padding-bottom: 5px;
  justify-content: flex-start;
  background-color: var(--dl-color-success-header);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.page-text09 {
  color: #ffffff;
  font-style: normal;
  font-family: "PT Sans";
  font-weight: 500;
  line-height: 1.2;
}
.page-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-success-header);
}
.page-textinput {
  width: 100%;
  border-width: 3px;
}
@media(max-width: 1200px) {
  .page-container01 {
    flex: auto;
    width: auto;
    height: 500px;
    margin-top: var(--dl-space-space-fourunits);
    margin-left: var(--dl-space-space-twounits);
    border-color: var(--dl-color-gray-black);
    border-width: 3px;
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .page-container02 {
    overflow-y: auto;
    align-items: flex-start;
    margin-left: var(--dl-space-space-twounits);
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
  }
  .page-container03 {
    flex: 1;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-color: #a4edc0;
  }
  .page-container04 {
    width: 100%;
    height: 100px;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 0px;
    background-color: var(--dl-color-success-header);
    border-top-width: 0px;
    border-right-width: 0px;
  }
  .page-image {
    flex: 0;
    width: 90px;
    height: 90px;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-twounits);
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: var(--dl-space-space-unit);
    border-top-left-radius: var(--dl-radius-radius-round);
    border-top-right-radius: var(--dl-radius-radius-round);
    border-bottom-left-radius: var(--dl-radius-radius-round);
    border-bottom-right-radius: var(--dl-radius-radius-round);
  }
  .page-container05 {
    flex: 1;
    height: 100%;
    align-items: stretch;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .page-container06 {
    flex: 1;
    width: auto;
    margin-left: var(--dl-space-space-twounits);
  }
  .page-text {
    color: #ffffff;
    font-style: normal;
    font-family: PT Sans;
    font-weight: 500;
    margin-left: 0px;
    margin-right: var(--dl-space-space-unit);
  }
  .page-text01 {
    font-style: normal;
  }
  .page-text02 {
    font-style: inherit;
    font-weight: 500;
  }
  .page-text03 {
    font-style: normal;
  }
  .page-container07 {
    flex: 1;
    width: auto;
    margin-left: var(--dl-space-space-twounits);
  }
  .page-text04 {
    color: #ffffff;
    font-style: normal;
    font-family: PT Sans;
    font-weight: 500;
    margin-left: 0px;
    margin-right: var(--dl-space-space-unit);
  }
  .page-container08 {
    flex: 1;
    width: 100%;
    height: auto;
    align-self: stretch;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .page-container09 {
    flex: 0 0 auto;
    width: 468px;
    height: auto;
    align-self: flex-end;
    margin-top: var(--dl-space-space-unit);
    padding-top: 5px;
    border-color: #000000;
    border-style: ridge;
    margin-right: var(--dl-space-space-halfunit);
    padding-left: 10px;
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: var(--dl-color-success-header);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .page-text05 {
    color: #ffffff;
    width: auto;
    height: 100%;
    font-size: 20px;
    font-family: PT Sans;
    line-height: 1.2;
    margin-left: 0px;
    padding-top: 5px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  .page-container10 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    align-self: flex-start;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-halfunit);
    padding-top: 5px;
    border-color: #000000;
    border-style: ridge;
    margin-right: var(--dl-space-space-halfunit);
    padding-left: 10px;
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: var(--dl-color-success-header);
    border-top-left-radius: var(--dl-radius-radius-radius4);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .page-text06 {
    color: rgb(255, 255, 255);
    width: auto;
    height: 100%;
    font-size: 20px;
    font-family: PT Sans;
    line-height: 1.2;
    margin-left: 0px;
    margin-right: 0px;
  }
  .page-container11 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    align-self: flex-end;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-halfunit);
    padding-top: 5px;
    border-color: #000000;
    border-style: ridge;
    margin-right: var(--dl-space-space-halfunit);
    padding-left: 10px;
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: var(--dl-color-success-header);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .page-text07 {
    color: rgb(255, 255, 255);
    width: auto;
    height: 100%;
    font-size: 20px;
    font-family: PT Sans;
    line-height: 1.2;
    margin-left: 0px;
    padding-top: 5px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  .page-container12 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    align-self: flex-end;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-halfunit);
    padding-top: 5px;
    border-color: #000000;
    border-style: ridge;
    margin-right: var(--dl-space-space-halfunit);
    padding-left: 10px;
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: var(--dl-color-success-header);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .page-text08 {
    color: rgb(255, 255, 255);
    width: auto;
    height: 100%;
    font-size: 20px;
    font-family: PT Sans;
    line-height: 1.2;
    margin-left: 0px;
    padding-top: 5px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  .page-container13 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    align-self: flex-start;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-halfunit);
    padding-top: 5px;
    border-color: #000000;
    border-style: ridge;
    margin-right: var(--dl-space-space-halfunit);
    padding-left: 10px;
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: var(--dl-color-success-header);
    border-top-left-radius: var(--dl-radius-radius-radius4);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .page-text09 {
    color: rgb(255, 255, 255);
    width: auto;
    height: 100%;
    font-size: 20px;
    font-family: PT Sans;
    line-height: 1.2;
    margin-left: 0px;
    margin-right: 0px;
  }
  .page-textinput {
    width: 100%;
    height: 60px;
  }
}
