<!-- <div class="identificacion-container" [ngClass]="rootClassName">
  <h1 class="identificacion-heading">{{ heading }}</h1>
  <span class="identificacion-text">{{ text }}</span>
  <input
    type="text"
    required
    minlenght="8"
    [attr.placeholder]="textinputPlaceholder"
    class="identificacion-textinput input"
  />
  <span class="identificacion-text1">{{ text1 }}</span>
  <input
    type="password"
    required
    maxlength="10"
    minlength="6"
    [attr.placeholder]="textinputPlaceholder1"
    class="identificacion-textinput1 input"
  />
  <a routerLink="/mainadmin" class="identificacion-button button">
    {{ button }}
  </a>
</div>
 -->
<!--  <div class="identificacion-container" [ngClass]="rootClassName">
  <h1 class="identificacion-heading">{{ heading }}</h1>
  <form [formGroup]="identificacionForm">
  <span class="identificacion-text">{{ text }}</span>
  <input
    type="text"
    required
    minlength="8"
    [attr.placeholder]="textinputPlaceholder"
    class="identificacion-textinput input"
  />
  <span class="identificacion-text1">{{ text1 }}</span>
  <input
    type="password"
    required
    maxlength="10"
    minlength="6"
    [attr.placeholder]="textinputPlaceholder1"
    class="identificacion-textinput1 input"
  />
  <button (click)="onSubmit()" class="identificacion-button button">
   {{ button }}
  </button>
</form>
</div>
 -->