<div class="editarboletn-container">
  <app-headerlogin
    rootClassName="headerlogin-root-class-name22"
  ></app-headerlogin>
  <app-datosboletin
    rootClassName="datosboletin-root-class-name1"
  ></app-datosboletin>
  <div class="editarboletn-container01">
    <div class="editarboletn-container02">
      <div class="editarboletn-container03"><span>1º trimestre</span></div>
      <div class="editarboletn-container04"><span>2º trimestre</span></div>
      <div class="editarboletn-container05"><span>3º trimestre</span></div>
    </div>
    <div class="editarboletn-container06">
      <div class="editarboletn-container07">
        <div class="editarboletn-container08"><span>1</span></div>
        <div class="editarboletn-container09"></div>
        <div class="editarboletn-container10"></div>
        <div class="editarboletn-container11"></div>
      </div>
      <div class="editarboletn-container12">
        <div class="editarboletn-container13"><span>Text</span></div>
        <div class="editarboletn-container14"></div>
        <div class="editarboletn-container15"></div>
        <div class="editarboletn-container16"></div>
      </div>
      <div class="editarboletn-container17">
        <div class="editarboletn-container18"><span>Text</span></div>
        <div class="editarboletn-container19"></div>
        <div class="editarboletn-container20"></div>
        <div class="editarboletn-container21"></div>
      </div>
      <div class="editarboletn-container22">
        <div class="editarboletn-container23"><span>Text</span></div>
        <div class="editarboletn-container24"></div>
        <div class="editarboletn-container25"></div>
        <div class="editarboletn-container26"></div>
      </div>
      <div class="editarboletn-container27">
        <div class="editarboletn-container28"><span>Text</span></div>
        <div class="editarboletn-container29"></div>
        <div class="editarboletn-container30"></div>
        <div class="editarboletn-container31"></div>
      </div>
      <div class="editarboletn-container32">
        <div class="editarboletn-container33"><span>Text</span></div>
        <div class="editarboletn-container34"></div>
        <div class="editarboletn-container35"></div>
        <div class="editarboletn-container36"></div>
      </div>
      <div class="editarboletn-container37">
        <div class="editarboletn-container38"><span>Text</span></div>
        <div class="editarboletn-container39"></div>
        <div class="editarboletn-container40"></div>
        <div class="editarboletn-container41"></div>
      </div>
      <div class="editarboletn-container42">
        <div class="editarboletn-container43"><span>Text</span></div>
        <div class="editarboletn-container44"></div>
        <div class="editarboletn-container45"></div>
        <div class="editarboletn-container46"></div>
      </div>
      <div class="editarboletn-container47">
        <div class="editarboletn-container48"><span>Text</span></div>
        <div class="editarboletn-container49"></div>
        <div class="editarboletn-container50"></div>
        <div class="editarboletn-container51"></div>
      </div>
      <div class="editarboletn-container52">
        <div class="editarboletn-container53"><span>Text</span></div>
        <div class="editarboletn-container54"></div>
        <div class="editarboletn-container55"></div>
        <div class="editarboletn-container56"></div>
      </div>
      <div class="editarboletn-container57">
        <div class="editarboletn-container58"><span>Text</span></div>
        <div class="editarboletn-container59"></div>
        <div class="editarboletn-container60"></div>
        <div class="editarboletn-container61"></div>
      </div>
      <div class="editarboletn-container62">
        <div class="editarboletn-container63"><span>Text</span></div>
        <div class="editarboletn-container64"></div>
        <div class="editarboletn-container65"></div>
        <div class="editarboletn-container66"></div>
      </div>
    </div>
  </div>
</div>
