<div class="mainconserjeria-container">
  <app-headerlogin rootClassName="headerlogin-root-class-name14"></app-headerlogin>
  <app-userwelcome [text]="userName" rootClassName="userwelcome-root-class-name8"></app-userwelcome>
  <div class="mainconserjeria-container01">
    <div class="mainconserjeria-container02">
      <div class="mainconserjeria-container03">
        <div class="mainconserjeria-container04">
          <div class="mainconserjeria-container05">
            <div class="mainconserjeria-container06">
              <div class="mainconserjeria-container07">
                <div class="mainconserjeria-container08">
                  <span class="mainconserjeria-text">Chat:</span>
                  <a [routerLink]="['/nuevochat', userId]" class="mainconserjeria-navlink1">
                    -Seleccionar Chat
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mainconserjeria-container13">
      <div class="mainconserjeria-container14">
        <div class="mainconserjeria-container15">
          <div class="mainconserjeria-container16">
            <div class="mainconserjeria-container17">
              <div class="mainconserjeria-container18">
                <span class="mainconserjeria-text1">Horarios:</span>
                <a [routerLink]="['/plantillahorario', userId]" class="mainconserjeria-navlink2">
                  -Ver Horarios
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mainconserjeria-container13">
      <div class="mainconserjeria-container14">
        <div class="mainconserjeria-container15">
          <div class="mainconserjeria-container16">
            <div class="mainconserjeria-container17">
              <div class="mainconserjeria-container18">
                <span class="mainconserjeria-text1">Anuncios:</span>
                <a [routerLink]="['/tablonanuncios', userId]" class="mainconserjeria-navlink2">
                  -Ver tablón de anuncios
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>