:host { 
  display: contents; 
}
.mainjefatura-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  background-color: #c1ffc2;
}
.mainjefatura-container01 {
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.mainjefatura-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
}
.mainjefatura-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.mainjefatura-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.mainjefatura-container05 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.mainjefatura-container06 {
  flex: 0 0 auto;
  width: 350px;
  height: 300px;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #469634;
}
.mainjefatura-text {
  color: rgb(255, 255, 255);
  font-size: 30px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: "PT Sans";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  letter-spacing: 2px;
}
.mainjefatura-navlink {
  color: rgb(255, 255, 255);
  font-size: 24px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  font-family: "PT Sans";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.mainjefatura-navlink1 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  font-family: "PT Sans";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.mainjefatura-container07 {
  flex: 0 0 auto;
  width: 350px;
  height: 200px;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #469634;
}
.mainjefatura-text1 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "PT Sans";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  letter-spacing: 2px;
}
.mainjefatura-text2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  font-family: "PT Sans";
  margin-left: var(--dl-space-space-twounits);
}
.mainjefatura-navlink2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  font-family: "PT Sans";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.mainjefatura-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.mainjefatura-container09 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: stretch;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.mainjefatura-container10 {
  flex: 0 0 auto;
  width: 350px;
  height: 300px;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #469634;
}
.mainjefatura-text3 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: "PT Sans";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  letter-spacing: 2px;
}
.mainjefatura-navlink3 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  font-family: "PT Sans";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.mainjefatura-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.mainjefatura-container12 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.mainjefatura-container13 {
  flex: 0 0 auto;
  width: 350px;
  height: 300px;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #469634;
}
.mainjefatura-text4 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: "PT Sans";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  letter-spacing: 2px;
}
.mainjefatura-navlink4 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  font-family: "PT Sans";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.mainjefatura-navlink5 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  font-family: "PT Sans";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
@media(max-width: 1200px) {
  .mainjefatura-container01 {
    width: 100%;
    align-self: center;
  }
  .mainjefatura-container02 {
    width: 95%;
    padding-left: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
  }
  .mainjefatura-container06 {
    width: 350px;
    justify-content: flex-start;
  }
  .mainjefatura-container07 {
    width: 350px;
    justify-content: flex-start;
  }
  .mainjefatura-container10 {
    width: 350px;
    justify-content: flex-start;
  }
  .mainjefatura-navlink3 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: PT Sans;
    text-decoration: none;
  }
  .mainjefatura-container13 {
    width: 350px;
    justify-content: flex-start;
  }
}
