<div class="nuevomensaje-container">
  <app-headernologin
    rootClassName="headernologin-root-class-name8"
  ></app-headernologin>
  <div class="nuevomensaje-container1">
    <div class="nuevomensaje-container2">
      <span class="nuevomensaje-text">Enviar Mensaje:</span>
    </div>
    <div class="nuevomensaje-container3">
      <input
        type="text"
        placeholder="Destinatario/s"
        class="nuevomensaje-textinput input"
      />
      <input
        type="text"
        placeholder="Asunto"
        class="nuevomensaje-textinput1 input"
      />
      <textarea
        placeholder="Mensaje"
        class="nuevomensaje-textarea textarea"
      ></textarea>
      <div class="nuevomensaje-container4">
        <button type="button" class="nuevomensaje-button button">Enviar</button>
      </div>
    </div>
  </div>
</div>
