<!-- <div class="menualupadres-container" [ngClass]="rootClassName">
  <div class="menualupadres-container01">
    <div class="menualupadres-container02">
      <div class="menualupadres-container03">
        <span class="menualupadres-text">{{ text }}</span>
        <a routerLink="/chat" class="menualupadres-navlink">{{ text1 }}</a>
        <a routerLink="/nuevochat" class="menualupadres-navlink1">
          {{ text2 }}
        </a>
      </div>
      <div class="menualupadres-container04">
        <span class="menualupadres-text1">{{ text4 }}</span>
        <a routerLink="/horario" class="menualupadres-navlink2">{{ text5 }}</a>
      </div>
    </div>
    <div class="menualupadres-container05">
      <div class="menualupadres-container06">
        <span class="menualupadres-text2">{{ text6 }}</span>
        <a routerLink="/boletines" class="menualupadres-navlink3">
          {{ text7 }}
        </a>
        <span class="menualupadres-text3">{{ text8 }}</span>
        <span class="menualupadres-text4">{{ text9 }}</span>
      </div>
      <div class="menualupadres-container07">
        <span class="menualupadres-text5">{{ text121 }}</span>
        <a routerLink="/tablonanuncios" class="menualupadres-navlink4">
          {{ text131 }}
        </a>
      </div>
    </div>
    <div class="menualupadres-container08">
      <div class="menualupadres-container09">
        <span class="menualupadres-text6">{{ text12 }}</span>
        <a routerLink="/recordatorios" class="menualupadres-navlink5">
          {{ text13 }}
        </a>
        <span class="menualupadres-text7">{{ text132 }}</span>
      </div>
      <div class="menualupadres-container10">
        <span class="menualupadres-text8">{{ text15 }}</span>
        <a routerLink="/incidencias" class="menualupadres-navlink6">
          {{ text16 }}
        </a>
      </div>
    </div>
  </div>
</div>
 -->
